html, body, #react-target, #react-target>div {
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
  color: black; 
  margin: 0;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

button, span, div {
  outline: none;
}
