// .header img {
//     float: left; 
//     width: 7%;
//     height: 7%;
//     padding-top: 50px; 
//     padding-left: 50px; 
//   }

// .header h1 {
//     position: fixed;
//     top: 10%;
//     left: 0px;
//     right: 0px;
//     transform: translateY(-50%);
//     margin: auto;
//   }

.outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}


