#moving-logo{
    width: 100px; 
    height: 100px; 
    margin-top: 15%; 
}

#center-container{
    width: 100%;
    position: fixed;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    margin: auto;
  }

