.slider-instructions {
  // padding-top: 35%; 
  // font-size: 22px;
  // padding: 5%;
  // padding-bottom: 0.5em;
}
.slider-label {
  padding: 1rem 0 0.5rem 0;
}

.end-main {
  padding: 5%;
  padding-bottom: 1rem;
  overflow: hidden;
}