#title-dynamic{
    font-weight: bolder; 
    font-family: 'PT Sans Narrow', sans-serif; 
  }
  
  h1{
      text-align: center; 
  }

  h3{
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 0.7em; 
    font-weight: bolder;
    padding-top: 8%; 
    padding-bottom: 3%;  
  }

  body{
    color: black; 
    margin: 0; 
  }
  
  #logo {
    min-width: 100px;
    min-height: 100px;
    width: 10%;
    height: 10%;
    padding-bottom: 2em;
  }

  #navbar {
    background-color: #F6F6F6;
    top: 0;
    left: 0; 
    margin: 0; 
    width: 100%;
    height: 3%; 
    color: black; 
    position: absolute; 
  }
  
  .u-container{
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 auto;
    width: 100%; 
    height: 10%; 
    display: block; 
    margin-top: 12px; 
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    text-align: center; 
    padding: 5% 10% 5% 10%;  
  }

  #next_button{
    padding: 5% 18% 5% 18%;
    margin-top: 80%;
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    font-size: 13px; 
    border-radius: 25px;
    background-color: #EBEBEB; 
    border: none;
    margin-bottom: 10%; 
  }

  #pid{
    color: black; 
    font-size: 0.9em; 
  }


  #padding{
    padding-bottom: 10%; 
  }

  .container {
    padding-top: 70%; 
    width: 100%; 
}
