@import '../../../ui/assets/main';

.swipe-instr {
  margin: 1em auto 0;
}

.slider-main {
  width: 100vw;
  height: 100%;

  button {
    position: absolute;
    border: none;
    background: none;
    font-size: 30px;
    bottom: 0;
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }


}

.question-card-wrapper {
  height: 80vh;
  // display: flex;
}

.question-card {
  margin: 1em 0.9em;
  padding: 1em;
  border: 2px solid $dynamic-black;
  border-radius: 5px;
}