@import '../../../ui/assets/main';

.swipe-instr-top {
  margin: 1em auto 0;
}

.swipe-instr-bottom {
  align-self: center;
  position: absolute;
  bottom: 2vh;
  //margin: 1em auto 0;
}

.slider-main {
  width: 100vw;
  height: 100%;

  button {
    position: absolute;
    border: none;
    background: none;
    font-size: 30px;
    bottom: 2vh;
  }

  .next {
    right: 2vw;
  }

  .prev {
    left: 2vw;
  }


}

.question-card-wrapper {
  height: 80vh;
  // display: flex;
}

.question-card {
  margin: 1em 0.9em;
  padding: 1em;
  border: 2px solid $dynamic-black;
  border-radius: 5px;
}