@import '../../assets/main';

.shared-main {
  height: 100%;
  width: 100%;
  color: $dynamic-black;
  user-select: none;
  position: relative;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    min-height: 7vh;
    height: auto;
    font-size: 5vh;
    text-align: left;
    color: $dynamic-white;
    background: $dynamic-black;
    padding: 0 0.5rem;
    user-select: text;
  
    .session-code {
      font-weight: 200;
      line-height: 7vh;

      span {
        font-weight: 600;
        font-size: 6vh;
        line-height: 6vh;
      }

    }

    .clock {
      font-size: 7vh;
      line-height: 7vh;
      font-weight: 600;
    }

  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .activity-phase {
      margin: 0.5rem;
      font-size: 8vh;
      text-align: center; 
    }
  
  }

  .instructions{
    font-size: 6vh;
    text-align: center;
    margin: 0.5rem;
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 5vh;
  }

}
