.outer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 0;
  position: relative;
}

.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

#small-logo {
  //width: 150px; 
  //height: 20%; 
  margin-bottom: 15%; 
  margin-top: 15%; 
}