@import '../assets/main';

#container-top-margin{
  margin-top: 15%; 
}

#center-container{
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  margin: auto;
}

.login-main {
  padding: 0.5rem;
}

.ugh {
  padding: 0.5rem;
  width: calc(100% - 1rem)!important;
}

#landing-logo {
  max-width: 100px;
}

.confirmation {

  width: 100%;

  .question {
    font-size: 32px;
  }

  .name {
    font-size: 48px;
    margin: 5%;
  }

  .skill {
    font-size: 48px;
    margin: 5%;

  }
}

