#title-dynamic{
  font-weight: bolder; 
}

body{
  color: black; 
}

#logo {
  min-width: 100px;
  min-height: 100px;
  width: 10%;
  height: 10%;
  padding-bottom: 2em;
}

#i-container{
  border-radius: 25px;
  border: 2px solid black;
  width: 50%;
  height: 10%; 
  margin: auto; 
  padding: 5%; 
  margin-top: 12px; 
  text-align: center; 
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif; 
  font-weight: bold; 
}

#next-button{
  padding: 2% 7% 2% 7%;
  margin-top: 30%;
  text-align: center; 
  font-family: 'PT Sans Narrow', sans-serif; 
  font-weight: bold; 
  font-size: 13px; 
  border-radius: 25px;
  background-color: #EBEBEB; 
  border: none; 
}