@import '../../assets/main';

.textbox{
padding: 3%;
border: 2px solid $dynamic-black; 
border-radius: 5px; 
width: 80%;
height: 10%; 
}

.invalid{
padding: 3%; 
border: 2px solid $dynamic-red; 
border-radius: 5px; 
width: 80%;
height: 10%; 
}
