@import '../../assets/main';

.textbox{
padding: 3%;
border: 2px solid $dynamic-black; 
border-radius: 5px; 
width: 80%;
height: 10%; 
display:inline-block;
vertical-align:middle; 
line-height: normal; 
text-align:left; 
margin-top:0; 
}

.invalid{
padding: 3%; 
border: 2px solid $dynamic-red; 
border-radius: 5px; 
width: 80%;
height: 10%; 
display:inline-block;
vertical-align:middle; 
line-height: normal; 
}

.textbox-prompt {
text-align: left;
margin-left: 1em; 
margin-top: 1em; 
margin-bottom: 0.5em; 
}