#moving-logo {
    min-width: 100px;
    min-height: 100px;
    width: 28%;
    height: 50%;
    padding-bottom: 2em;
    padding-top: 10%; 
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }