#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#inner {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  margin: auto;
}

