#team-container{
    top:0;
    margin-top: 75%; 
    padding-bottom: 8%; 
    border-bottom: 1px solid gray;
    margin-bottom: 10%; 
    padding-top: 12%; 
}

.button{
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 0.8em; 
    border-radius: 25px;
    border: 2px solid black;
    padding: 5% 8% 5% 8%; 
    background-color: white; 
    max-width: 70%; 
    margin-bottom: 5%; 
}