#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dynamic-logo {
  min-width: 50px;
  min-height: 50px;
  max-width: 10%;
  max-height: 10%;
  position: absolute;
  top: 30px;
  left: 30px;
}

#session-info {
  text-align: left;
}