#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dynamic-logo {
  min-width: 50px;
  min-height: 50px;
  max-width: 10%;
  max-height: 10%;
  position: absolute;
  top: 30px;
  left: 30px;
}

#session-info {
  text-align: left;
}

.heading img {
  float: left; 
  width: 7%;
  height: 7%;
  padding-top: 50px; 
  padding-left: 50px; 
}

.heading h1 {
  position: fixed;
  top: 10%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  margin: auto;
}

#inner {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
  margin: auto;
}

c{
  font-weight: bolder; 
  font-size: 35px;
}

#spacing{
  padding-top: 2%; 
  padding-bottom: 2%; 
}

#font-size{
  font-size: 28px; 
}

#bold-font{
  font-weight: bolder;
  font-size: 30px;
}

#font-size{
  font-size: 30px; 
}