@import '../assets/main';

.session-progress-wrapper{
  position: relative;
  height: 100%;
  width: 100%;

  .session-code-container{
    position: absolute;
    top: 3vh;
    left: 2vw;
    //background-color: yellow;
    border-style: solid;
    border-color: rgb(158, 158, 158);
    border-radius: 5px;
    padding: 1rem;
  }
}

.text-box-bigscreen2 {
  border: 2px solid $dynamic-white ;
  border-radius: 5px 5px 5px 5px;
  width: 1200px;
  height: auto; 
  margin: auto; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center; 
  position: relative;
}

.teamShapes {
  text-align: center; 
}

.contentPic {
  max-height: 40vh;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 20px;
}

#session-info {
  text-align: left;
}

#font-size{
  font-size: 28px; 
}

.joinees{
  text-align: center; 
  margin: 2%; 
}

#bold-font{
  font-weight: bolder;
  font-size: 30px;
}

#font-size{
  font-size: 30px; 
  padding-left: 10%; 
  padding-right: 10%; 
}

html {
  overflow-y: scroll;
}
