// FONTS
$font-stack: 'PT Sans Narrow', sans-serif;

// MAIN COLORS
$dynamic-red: #F05D5E;
$dynamic-green: #00DD90;
$dynamic-blue: #1E91D6;
$dynamic-yellow: #FBF2C0;
$dynamic-light-gray: #F0F0F0;
$dynamic-gray: #EBEBEB;

// SHADOWS
$small-button-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

.title-dynamic {
  text-align: center;
}

.field-container {
  margin-bottom: 16px;
  // text-align: left!important;
}

.field-title {
  color: rgb(95, 99, 104);
}

.field-title-bold {
  color: rgb(95, 99, 104);
  font-weight: bolder; 
}

.input-container {
  position: relative;
}

.input-text {
  border-radius: 5px 5px 0 0;
  border: 0px;
  border-bottom: 2px solid black;
  background: $dynamic-light-gray;
  width: 80%;
  height: 10%; 
  margin: auto; 
  padding: 3%; 
  margin-top: 12px; 
  text-align: center; 
  font-size: 22px;
  font-family: $font-stack;
}

.text-box{
  border: 2px solid black ;
  border-radius: 5px 5px 5px 5px;
  width: 80%;
  height: 10%; 
  margin: auto; 
  padding: 3%; 
  margin-top: 5%; 
  text-align: center; 
  font-size: 22px;
  font-family: $font-stack;
}

.votes-box{
  background-color: $dynamic-blue;
  border-radius: 5px 5px 5px 5px;
  color: white; 
  width: 20px;
  height: 20px; 
  text-align: center; 
  font-size: 10px;
  font-weight: bold; 
  font-family: $font-stack;
  position:absolute;
	top: 60%;
	left: 80%;
	z-index: 2;
}

.input-text-invalid {
  border-radius: 5px 5px 0 0;
  border: 0px;
  border-bottom: 2px solid $dynamic-red;
  background: $dynamic-light-gray;
  width: 80%;
  height: 10%; 
  margin: auto; 
  padding: 3%; 
  margin-top: 12px; 
  text-align: center; 
  font-size: 22px;
  color: $dynamic-red;
  font-family: $font-stack; 
}

.invalid-input-message {
  position: absolute;
  left: 8%;
  top: 100%;
  font-size: 20px;
  color: $dynamic-red;

}

.small-button {
  padding: 2% 7% 2% 7%;
  margin-top: 30%;
  text-align: center; 
  font-family: $font-stack; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $small-button-shadow;
}

.big-button {
  padding: 4% 16% 4% 16%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center; 
  font-family: $font-stack; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $small-button-shadow;
  font-size: normal; 
  position: relative;
  width: 80%;
  height: 10%; 
}

.big-button-fill {
  padding: 4% 16% 4% 16%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center; 
  font-family: $font-stack; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-yellow; 
  border: none;
  box-shadow: $small-button-shadow;
  font-size: normal; 
  position: relative;
  width: 80%;
  height: 10%; 
}