// FONTS
$font-stack: 'PT Sans Narrow', sans-serif;

// MAIN COLORS
$dynamic-black: #080808;
$dynamic-red: #F05D5E;
$dynamic-green: #00DD90;
$dynamic-blue: #1E91D6;
$dynamic-yellow: #FBF2C0;
$dynamic-white: #FFFFFF;
$dynamic-light-gray: #F0F0F0;
$dynamic-gray: #DADADA;
$dynamic-medium-gray: #AAAAAA;
$dynamic-dark-gray: #5f6368;

// SHADOWS
$button-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$button-shadow-active: 0px 2px 4px 1px rgba(0, 0, 0, 0.35);

// COMPONENT
$button-height: 2em;
$button-padding: 0.4em;
$button-border-radius: 5px;

// MOBILE DIMENSIONS
$navbar-height: 40px;
$navbar-padding: 3%;
$content-height: 100%; 
$content-padding: 5%;
$footer-height: 90px;

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
}

// .title-dynamic {
//   text-align: center;
// }

// .field-container {
//   margin-bottom: 16px;
// }

// .field-title {
//   color: $dynamic-medium-gray;
// }

// .field-title-bold {
//   color: $dynamic-medium-gray;
//   font-weight: bolder; 
// }

// .input-container {
//   position: relative;
// }

// .input-text {
//   border-radius: 5px 5px 0 0;
//   border: 0px;
//   border-bottom: 2px solid $dynamic-black;
//   background: $dynamic-light-gray;
//   width: 80%;
//   height: 10%; 
//   margin: auto; 
//   padding: 3%; 
//   margin-top: 12px; 
//   text-align: center; 
//   font-size: 22px;
// }

.bigscreen-input-text {
  border-radius: 5px 5px 0 0;
  border: 0px;
  border-bottom: 2px solid $dynamic-black;
  background: $dynamic-light-gray;
  width: 100%;
  padding: 5px; 
  margin: auto; 
  margin-top: 12px; 
  text-align: center; 
  font-size: 22px;
}

// .text-box {
//   border: 2px solid $dynamic-black ;
//   border-radius: 5px 5px 5px 5px;
//   width: 80%;
//   height: 10%; 
//   margin: auto; 
//   padding: 3%; 
//   margin-top: 7%; 
//   text-align: center; 
//   font-size: 22px;
//   position: relative;
// }

.correct {
  border: 2px solid $dynamic-black ;
}

.text-box-bigscreen {
  border: 2px solid $dynamic-black ;
  border-radius: 5px 5px 5px 5px;
  width: 1200px;
  height: auto; 
  margin: auto; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center; 
  position: relative;
}

.text-box-bigscreen-green{
  border: 2px solid $dynamic-green ;
  border-radius: 5px 5px 5px 5px;
  width: 700px;
  height: 60px; 
  margin: auto; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: center; 
  position: relative;
  background-color: $dynamic-green; 
}

.text-box-bigscreen-shrink{
  border: 2px solid $dynamic-black ;
  border-radius: 5px 5px 5px 5px;
  width: 550px;
  height: 40px; 
  padding-bottom: 22px; 
  margin: auto; 
  text-align: center; 
  position: relative;
}

.votes-box{
  background-color: $dynamic-blue;
  border-radius: 5px 5px 5px 5px;
  color: white; 
  width: auto;
  padding-right: 5px;
  padding-left: 5px;
  height: 25px; 
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold; 
  position:absolute;
	bottom: -15px;
	right: -15px;
	z-index: 2;
}

.input-text-invalid {
  border-radius: 5px 5px 0 0;
  border: 0px;
  border-bottom: 2px solid $dynamic-red;
  background: $dynamic-light-gray;
  width: 80%;
  height: 10%; 
  margin: auto; 
  padding: 3%; 
  margin-top: 12px; 
  text-align: center; 
  font-size: 22px;
  color: $dynamic-red;
}

.invalid-input-message {
  position: absolute;
  left: 8%;
  top: 100%;
  font-size: 20px;
  color: $dynamic-red;

}

.small-button {
  padding: 2% 7% 2% 7%;
  //margin-top: 30%;
  margin-top: 0%;
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $button-shadow;
}

.small-button-padding {
  padding: 2% 7% 2% 7%;
  margin-top: 10%;
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $button-shadow;
}

.small-button-paddingless {
  padding: 2% 7% 2% 7%;
  margin-top: 15%;
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $button-shadow;
}

.big-button {
  padding: 4% 16% 4% 16%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $button-shadow;
  font-size: normal; 
  position: relative;
  width: 80%;
  height: 10%; 
}

.big-button-fill {
  padding: 4% 16% 4% 16%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-yellow; 
  border: none;
  box-shadow: $button-shadow;
  font-size: normal; 
  position: relative;
  width: 80%;
  height: 10%; 
}

.bigscreen-button {
  padding: 7px 25px 7px 25px;
  margin-top: 10px; 
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px;
  background-color: $dynamic-gray; 
  border: none;
  box-shadow: $button-shadow;
  color: $dynamic-black;
}