.outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
}

.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

#moving-logo{
  width: 30%; 
  height: 30%; 
}