big{
  font-weight: bolder; 
  margin-bottom:0; 
  font-size: 2.0em; 
}

#navbar {
  background-color: #F6F6F6;
  top: 0;
  left: 0; 
  margin: 0; 
  width: 100%;
  height: 3%; 
  color: black; 
  position: absolute; 
}

.votes {
  position: absolute;
    right: 1em;
    top: -15px;
    margin: auto;
    background: blue;
    border-radius: 5px;
    color: white;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    height: 20px;
    text-align: center;
    padding: 5px;
}

.hasSpan {
  position: relative;
}

#prev {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

#next {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

#padding_down{
  margin-bottom: 10%; 
}

.button1{
  font-family: 'PT Sans Narrow', sans-serif; 
  font-size: 0.7em; 
  padding: 4%; 
  border-radius: 55px;
  background-color: #EBEBEB; 
  border: none;
  margin-bottom: 5%; 
  text-align: center; 
  font-weight: bolder; 
  width: 70%; 
}

.button2{
  font-family: 'PT Sans Narrow', sans-serif; 
  font-size: 0.7em; 
  padding: 4%; 
  border-radius: 55px;
  background-color: #EBEBEB; 
  border: none;
  margin-bottom: 5%; 
  text-align: center; 
  font-weight: bolder; 
  width: 70%; 
  height: 3%; 
}

#next_but{
  padding: 2% 6% 2% 6%;
  text-align: center; 
  font-family: 'PT Sans Narrow', sans-serif; 
  font-weight: bolder; 
  font-size: 13px; 
  border-radius: 25px;
  background-color: #EBEBEB; 
  border: none;
  position: absolute;
  left: 40%; 
  bottom: 10%; 
}

#votes{
  border-radius: 25px;
  border: 2px solid black;
  margin: 0 auto;
  width: 5%; 
  display: block; 
  padding: 2% 5% 2% 5%;  
}