.votes {
  position: absolute;
  right: 1em;
}

.hasSpan {
  position: relative;
}

#prev {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

#next {
  position: absolute;
  bottom: 12px;
  right: 12px;
}