.subtle-btn {
  background: none;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
.data-table {
  td {
    padding: 0.5em;
  }
}