h2{
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 0.9em; 
    font-weight: bolder;
    padding-top: 8%; 
    padding-bottom: 3%;  
    margin: 10%; 
}

.field-title{
    font-size: 0.9em;  
}

#u-container{
    border-radius: 25px;
    border: 2px solid black;
    display: block; 
    padding: 4%; 
    color: black; 
    font-size: 0.9em; 
    font-weight: bolder; 
    margin-bottom: 15%; 
  }


  #navbar {
    background-color: #F6F6F6;
    top: 0;
    left: 0; 
    margin: 0; 
    width: 100%;
    height: 3%; 
    color: black; 
    position: absolute; 
  }

  #input-container{
    border-radius: 25px;
    border: 2px solid black;
    display: block; 
    margin-top: 12px; 
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    text-align: center; 
    padding: 10px; 
    max-width: 80%; 
  }

  #next_button{
    padding: 4% 14% 4% 14%;
    margin-top: 80%;
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    font-size: 13px; 
    border-radius: 25px;
    background-color: #EBEBEB; 
    border: none;
  }
  
  .paddingh{
    padding-top: 20%; 
  }
