@import '../../assets/main';

.btn {
  margin: auto;
  min-width: 4em;
  max-width: 18em;
  padding: $button-padding;
  // height: $button-height;
  // line-height: $button-height;
  text-align: center;
  background: $dynamic-gray;
  box-shadow: $button-shadow;
  border-radius: $button-border-radius;

  div {
    user-select: none;
  }

}

.btn-small {
  width: 30%;
}

.btn-large {
  margin: 0 auto 1em;
  // width: 100%;
  text-align: left;
  font-size: 22px;
}

.btn-active {
  background: $dynamic-yellow;
}

.btn:active:not(.btn-disabled) {
  box-shadow: $button-shadow-active;
}

.btn-disabled {
  // opacity: 0.8;
  cursor: not-allowed;
}