@import '../../assets/main';

.btn {
  margin: auto;
  min-width: 4em;
  max-width: 18em;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  background: $dynamic-gray;
  box-shadow: $button-shadow;
  border-radius: $button-border-radius;
  cursor: pointer;

  div {
    user-select: none;
  }

}

.btn-small {
  width: 30%;
}

.btn-large {
  margin: 0 auto 1em;
  width: 100%;
  text-align: left;

  // text div
  div {
    margin-left: 0.5em;
  }
}

.btn-active {
  background: $dynamic-yellow;
}

.btn:active:not(.btn-disabled) {
  box-shadow: $button-shadow-active;
}

.btn-disabled {
  // opacity: 0.8;
  cursor: not-allowed;
}