@import '../../assets/main';

.mobile-main {
  height: 100vh;
  width: 100vw;
  color: $dynamic-black;
  display: grid;
  grid-template-areas: 'navbar'
                       'content'
                       'footer';
  grid-template-rows: 1fr 10fr 1fr;
  user-select: none;
  // background: linear-gradient(204.79deg, #B993D6 0%, #8CA6DB 100%);


  .navbar {
    grid-area: navbar;
    position: relative;
    display: flex;
    min-height: 100px;
    height: 15vh;
    width: 100vw;
    // background: $dynamic-light-gray;
    text-align: center;
    .progress-status {
      margin: auto;

      .activity-name {
        font-size: 1.5em;
        font-weight: 600;
      }

      .session-progress {
        font-weight: 200;
      }

    }

    .navbar-hr {
      position: absolute;
      bottom: -14%;
      left: 15%;
      width: 70%;
    }

  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .feedback-msge {
      text-align: center;
    }

    .good {
      color: $dynamic-green;
    }

    .error {
      color: $dynamic-red;
    }

  }

  .footer {
    grid-area: footer;
    display: flex;
    height: 15vh;
    width: 100vw;
  }

}