@import '../../assets/main';

.main {
  height: 100%;
  width: 100%;
  color: $dynamic-black;
  display: grid;
  grid-template-areas: 'navbar'
                       'content'
                       'footer';
  grid-template-rows: 1fr 10fr 1fr;
  user-select: none;
  // background: linear-gradient(204.79deg, #B993D6 0%, #8CA6DB 100%);


  .navbar {
    grid-area: navbar;
    position: relative;
    display: flex;
    min-height: 100px;
    height: 15%;
    width: 100%;
    background: $dynamic-light-gray;
    text-align: center;
    .progress-status {
      margin: auto;

      .activity-name {
        font-size: 1.5em;
        font-weight: 600;
      }

      .session-progress {
        font-weight: 200;
      }

    }

  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .good {
      color: $dynamic-green;
    }

    .error {
      color: $dynamic-red;
    }

  }

  .footer {
    grid-area: footer;
    display: flex;
    min-height: 100px;
    height: 15%;
    width: 100%;
  }

}