@import '../../assets/main';

.mobile-main {
  height: 100%;
  width: 100%;
  color: $dynamic-black;
  // display: grid;
  // grid-template-areas: 'navbar'
  //                      'content'
  //                      'footer';
  // grid-template-rows: 1fr 10fr 1fr;
  user-select: none;
  // background: linear-gradient(204.79deg, #B993D6 0%, #8CA6DB 100%);

  .navbar {
    // grid-area: navbar;
    background: $dynamic-black;
    color: $dynamic-white;
    display: flex;
    justify-content: space-between;
    // min-height: 1em;
    // height: 7vh;
    padding: 3vw;
    // width: 100vw;
    // background: $dynamic-light-gray;
    text-align: center;

    .nav-team-shape {
      // cursor: pointer;
      width: 13%;
      color: $dynamic-gray;
      line-height: 7vw;
      font-size: 4vw;
      display: flex;
      justify-content: space-between;
      z-index: 2;
      img {
        height: 6.9vw;
      }
      
    }

    .progress-status {
      width: 50%;

      .activity-name {
        font-size: 1.5em;
        font-weight: 600;
      }

      .session-progress {
        font-weight: 600;
        font-size: 9vw;
        line-height: 7vw;
      }

    }

    .clock {
      width: 13%;
      font-size: 7vw;
      line-height: 7vw;
    }

    .navbar-hr {
      position: absolute;
      bottom: -14%;
      left: 15%;
      width: 70%;
    }

  }

  .teammate-container {
    background: $dynamic-gray;
    // padding-top: 0.5em;
    position: fixed;
    width: 100%;
    z-index: 1;

    .teammate-slot {
      background: $dynamic-light-gray;
      color: $dynamic-black;
      text-align: left;
      margin: 3vw;
      border-radius: 5px;
      padding: 3vw;
    }

  }

  .content {
    height: 70%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .feedback-msge {
      text-align: center;
    }

    .good {
      color: $dynamic-green;
    }

    .error {
      color: $dynamic-red;
    }

  }

  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 15%;
    width: 100%;
  }

}