@import '../../assets/main';

.field-container {

  min-width: 4em;
    width: 100%;
    max-width: 18em;
    margin: 0 auto 1em;

  .input-container {
    position: relative;
    margin-top: 0.5rem;
  }
  
  .input-text {
    outline: none;
    border-radius: 5px 5px 0 0;
    border: 0px;
    border-bottom: 2px solid $dynamic-black;
    background: $dynamic-light-gray;
    padding: $button-padding;
    font-family: $font-stack;
    text-align: left;
    font-size: 22px;
    width: calc(100% - 2*#{$button-padding});
  }

  .input-message {
    position: absolute;
    font-size: 20px;
    bottom: calc(-20px - 0.5rem);
    left: 0;
    color: $dynamic-red;
  }

  .invalid {
    color: $dynamic-red;
    border-bottom: 2px solid $dynamic-red;
  }

}
