@import '../../assets/main';

.field-container {
  min-width: 4em;
  width: 100%;
  max-width: 18em;
  margin: 0 auto 1em;

  // .field-title {
  //   text-align: left;
  // }

  .input-container {
    position: relative;
    margin-top: 0.2rem;
    width: 100%;
  }
  
  .input-text {
    outline: none;
    border-radius: 5px 5px 0 0;
    border: 0px;
    border-bottom: 2px solid $dynamic-black;
    background: $dynamic-light-gray;
    padding: $button-padding;
    font-family: $font-stack;
    text-align: left;
    font-size: 22px;
    width: calc(100% - 2*#{$button-padding});
    height: calc(100% - 2*#{$button-padding});
  }

  .with-btn {
    border-radius: 5px 0 0 5px;
    border-bottom: none;

  }

  .input-message {
    position: absolute;
    font-size: 0.8rem;
    bottom: calc(-0.8rem - 0.5rem);
    left: 0;
    color: $dynamic-red;
  }

  .invalid {
    color: $dynamic-red;
    // border-bottom: 2px solid $dynamic-red;
    // height: calc(100% - 2*#{$button-padding} - 2px);

  }

}
