@import '../../../ui/assets/main';

.pic-content-main {
  width: 90vw;
  height: 100%;
  // margin: auto;
  text-align: center;
  align-self: center;
  // margin: 1em 0.5em;

  .pic-title {
    font-size: 8vw;
    font-weight: 600;
    text-align: center;
  }
  
  .pic-desc {
    font-size: 0.8em;
    color: $dynamic-medium-gray;
    margin: 0;
    text-align: left;
  }
    
  .subtitle {
    padding: 0 5%;
    font-size: 0.8em;
    color: $dynamic-medium-gray;
    margin: 0;
    text-align: left;
  }

  .pic-image {
    // background: red;
    margin: 1em 0;
    padding: 5%;
    object-fit: cover;
    max-width: 80vw;
    max-height: 50%;
 }
}


