@import '../../assets/main';

.card-main {

  hr {
    border: 0.5px solid $dynamic-black;
  }

  .card-title {
    font-size: 3vh;
    padding: 1rem 1rem 0.5rem 1rem;
    position: relative;
    text-align: center;
    
    .card-tag {
      font-size: 5vh;
  
      position: absolute;
      font-weight: 600;
      top: -3vh;
      left:-3vh;
      text-align: center;
      line-height: 6vh;
      border-radius: 50%;
      background: white;
      //box-shadow: 2px 2px 0px hotpink;

      width: 6vh;
      height: 6vh;
    }
  
  }

  .card-content {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    img {
      margin: auto;
      max-width: 300px;
      max-height: 300px;
    }
  }

}