.team-formation-main {
  width: 90%;
  padding: 5%;
  text-align: center;

  .shape-main {
    text-align: center;
  }

  .intro-img {
    margin: 0.5em 0 1em;
    width: 100%;
    max-width: 250px;
    height: auto;
  }
  
  .shape-img {
    margin: 1em 0;
    min-width: 100px;
  }
}

.member-list {
  font-size: 6vw;
  margin-bottom: 3vh;
  color: grey;
}

.user-number {
  font-size: 7vw;
}

.team-instruct {
  color: grey;
  font-size: 6vw;
  //text-align: left;
}

.sum-input-flex {
  display: flex;
  flex-direction: row;

  > div {
    margin: 0;
  }

  div > label > div > input {
    width: auto;
  }
}


