.team-formation-main {
  width: 90%;
  padding: 5%;
  text-align: center;

  .shape-main {
    text-align: center;
  }

  .intro-img {
    margin-bottom: 1em;
  }
  
  .shape-img {
    margin: 1em 0;
    min-width: 100px;
  }

}

