#title-dynamic{
    font-weight: bolder; 
    font-family: 'PT Sans Narrow', sans-serif; 
  }
  
  h1{
      text-align: center; 
  }
  body{
    color: black; 
    margin: 0; 
  }
  
  #logo {
    min-width: 100px;
    min-height: 100px;
    width: 10%;
    height: 10%;
    padding-bottom: 2em;
  }

  #navbar {
    background-color: #F6F6F6;
    top: 0;
    width: 300%;
    height: 8%; 
    color: black; 
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 12px; 
    font-weight: bolder; 
    position: absolute; 
  }
  
  .u-container{
    border-radius: 25px;
    border: 2px solid black;
    width: 80%; 
    height: 10%; 
    padding: 10%; 
    margin: auto; 
    display: block; 
    margin-top: 12px; 
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    text-align: center; 
  }
  
  #next_button{
    padding: 4% 14% 4% 14%;
    margin-top: 80%;
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif; 
    font-weight: bold; 
    font-size: 13px; 
    border-radius: 25px;
    background-color: #EBEBEB; 
    border: none;
  }