.question-detail-container{
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.question-detail-container p{
  font-size: 14px;
  line-height: 18px;
}

.details-container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.question-summary h1{
  font-size: 15px;
  text-align: left;
}

.details-shape-container{
  margin: 0 25% 0 25%;
}

.details-shape-container img{
  width:100%;
  max-width: 75px;
}

.question-label{
  padding: 3px;
  text-align: left;
  margin: 0;
  font-size: 8px;
  background: #74E1FF;
  border-radius: 5px;
  display:inline
}

.showhide-details{
  color:black;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
