.join-section-main {
  //padding: 0.5rem;

  .logo {
    margin: auto;
    margin-bottom: 10%;
    width: 196px;
    height: 196px;
    padding: 1rem;
  }

  @media screen and (max-height: 470px) {
    .logo {
      display: none;
    }
  }

}

